@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@-webkit-keyframes spinning {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinning {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
footer {
  margin-top: 100px;
  height: 1100px;
  padding-top: 2em;
  background: rgb(199, 178, 134);
  background: linear-gradient(75deg, rgb(199, 178, 134) 0%, rgb(221, 176, 83) 35%, rgb(157, 115, 30) 100%);
  box-shadow: rgba(56, 56, 56, 0.748) 2px -2px 2px;
  display: grid;
  grid-auto-columns: 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  footer {
    height: 768px;
    display: grid;
    grid-template-columns: [x0] 2fr [x1] 1fr [x2] 2fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    align-items: flex-start;
  }
}

.sitemap {
  text-align: center;
  color: #fffefc;
}
@media (min-width: 768px) {
  .sitemap {
    grid-column: x0/x1;
    grid-row: y0/y2;
  }
}
.sitemap__title {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .sitemap__title {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .sitemap__title {
    font-size: 3em;
  }
}
.sitemap__li {
  padding: 0.3em;
}
.sitemap__li :hover {
  color: #5a2345;
}
.sitemap__links {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
  text-align: center;
}
@media (min-width: 768px) {
  .sitemap__links {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .sitemap__links {
    font-size: 1.6em;
  }
}

.address {
  height: 16em;
}
@media (min-width: 768px) {
  .address {
    height: 20em;
    margin-top: 1.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-column: x2/x3;
    grid-row: y1/y2;
  }
}
.address__ul {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.address__li {
  text-decoration: none;
  margin: 1em;
}
.address__title {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .address__title {
    font-size: 1.3em;
  }
}
@media (min-width: 1024px) {
  .address__title {
    font-size: 1.8em;
  }
}
.address__subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  border-bottom: 0.1em solid #5a2345;
  left: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .address__subtitle {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .address__subtitle {
    font-size: 1.6em;
  }
}
.address__par {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .address__par {
    font-size: 1.1em;
  }
}
@media (min-width: 1024px) {
  .address__par {
    font-size: 1.5em;
  }
}

.newsletter {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 768px) {
  .newsletter {
    grid-column: x2/x3;
    grid-row: y0/y1;
  }
}
.newsletter__label {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
  padding-bottom: 0.5em;
}
@media (min-width: 768px) {
  .newsletter__label {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .newsletter__label {
    font-size: 3em;
  }
}
.newsletter__input {
  border: 2px solid #e4e4e4;
  width: 50vw;
  padding: 0.6em;
  text-align: center;
  color: rgb(2, 1, 0);
  font-family: "Comfortaa", sans-serif;
}
@media (min-width: 768px) {
  .newsletter__input {
    width: 20vw;
  }
}
.newsletter__input::-moz-placeholder {
  padding: 0.6em;
  font-size: 0.8em;
}
.newsletter__input:-ms-input-placeholder {
  padding: 0.6em;
  font-size: 0.8em;
}
.newsletter__input::placeholder {
  padding: 0.6em;
  font-size: 0.8em;
}
@media (min-width: 1024px) {
  .newsletter__input::-moz-placeholder {
    font-size: 1.2em;
  }
  .newsletter__input:-ms-input-placeholder {
    font-size: 1.2em;
  }
  .newsletter__input::placeholder {
    font-size: 1.2em;
  }
}
.newsletter__btn {
  width: 50vw;
  padding: 0.6em;
  border: 2px solid #e4e4e4;
  background-color: #816101;
  color: #fffefc;
  font-family: "Comfortaa", sans-serif;
}
@media (min-width: 768px) {
  .newsletter__btn {
    width: 20vw;
  }
}
.newsletter__btn:hover {
  background-color: #5a2345;
}

.social {
  font-size: 3em;
}
@media (min-width: 768px) {
  .social {
    grid-column: x1/x2;
    grid-row: y0/y2;
  }
}
.social__ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .social__ul {
    padding-top: 0.1em;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.social__li:hover {
  -webkit-animation: spinning 2s infinite ease-in-out;
          animation: spinning 2s infinite ease-in-out;
}
.social__icon {
  text-decoration: none;
  padding: 0.3em;
  color: #854d00;
}
@media (min-width: 768px) {
  .social__icon {
    font-size: 1em;
  }
}
.social__item {
  text-decoration: none;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.4em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .social__item {
    font-size: 0.4em;
  }
}
@media (min-width: 1024px) {
  .social__item {
    font-size: 0.6em;
  }
}
.social__item:hover {
  color: #5a2345;
}

.copyright {
  text-align: center;
  color: #fffefc;
}
@media (min-width: 768px) {
  .copyright {
    grid-column: x0/x3;
    margin-top: 2.5em;
  }
}
.copyright__text {
  font-family: "Comfortaa", sans-serif, sans-serif;
  font-size: 0.6em;
  font-weight: normal;
  font-style: bold;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #fffefc;
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 0.8em;
  }
}
@media (min-width: 1024px) {
  .copyright__text {
    font-size: 1.1em;
  }
}

header {
  max-width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(199, 178, 134);
  background: linear-gradient(75deg, rgb(235, 217, 178) 0%, rgb(221, 176, 83) 35%, rgb(157, 115, 30) 100%);
  box-shadow: inset rgba(32, 32, 32, 0.25) -14px 12px 20px 2px, rgba(32, 32, 32, 0.2) 1px 1px 8px 10px;
}

.logo {
  margin: 0 1em;
  width: calc(1vw + 120px);
  height: calc(1vw + 120px);
  border: solid 1px transparent;
}
.logo:hover {
  border: 1px solid rgb(110, 83, 1);
  border-radius: 100%;
}

.menu__label {
  display: none;
}
.menu__input {
  display: none;
}
.menu__ul {
  width: 55vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu__li {
  padding: 0 0.5em;
}
.menu__a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: "quicksand", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: rgb(60, 60, 60) 2px 2px 2px;
}
.menu__a:hover {
  color: rgb(110, 83, 1);
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
    -------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */
/* Featurettes
    ------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

.zoom {
  transition: 0.2s;
}

.zoom:hover {
  transform: scale(1.75);
}

.nostitulo {
  margin-top: 15px;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.nosotrosdesc {
  margin: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.address {
  margin-top: 65px;
}

.sitemap__ul {
  list-style: none;
}

/*CONTACTO- EL DROPDOWN DE FAQ*/
.faq {
  width: 90vw;
  margin: 5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.faq__framing {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  border: solid 5px rgba(255, 255, 255, 0.6039215686);
  border-radius: 0% 0% 70% 0%;
  background: linear-gradient(56deg, rgba(230, 188, 4, 0.795) 0%, rgba(243, 204, 30, 0.856) 50%, rgba(247, 203, 9, 0.89) 100%);
  -webkit-animation: floating 5s alternate infinite;
          animation: floating 5s alternate infinite;
}

@media (min-width: 768px) {
  .faq__framing {
    height: 120vh;
  }
}
@media (min-width: 768px) {
  .faq__framing {
    height: 140vh;
  }
}
.faq__cover {
  width: 90vw;
}

.faq__title {
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: none 2px -2px 2px;
  color: #FDFFFC;
  background: linear-gradient(56deg, rgba(189, 123, 2, 0.747) 0%, rgba(255, 208, 0, 0.815) 50%, rgba(189, 123, 2, 0.747) 100%);
  border: solid 5px rgba(255, 255, 255, 0.6039215686);
  -webkit-animation: floating 5s alternate infinite;
          animation: floating 5s alternate infinite;
  font-weight: bolder;
  text-align: center;
  padding: 2em;
}

@media (min-width: 768px) {
  .faq__title {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .faq__title {
    font-size: 3em;
  }
}
.faq__text {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: none -2px 2px 2px;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  padding: 1em;
}

@media (min-width: 768px) {
  .faq__text {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .faq__text {
    font-size: 1.6em;
  }
}
.faq__accordion {
  margin: 15px;
  width: 90vw;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.899597) 0%, rgba(236, 236, 236, 0.950018) 100%);
  border: solid 2px #FFF;
  border-radius: 0.6em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

.faq__lead {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(0, 0, 0, 0.809);
  color: #020100;
  padding: 1em;
  font-weight: bolder;
  text-align: center;
}

@media (min-width: 768px) {
  .faq__lead {
    font-size: 1.3em;
  }
}
@media (min-width: 1024px) {
  .faq__lead {
    font-size: 1.8em;
  }
}
.faq__answer {
  padding: 1em;
}

.faq__inputs {
  display: none;
}

.faq__inputs:checked ~ .faq__par {
  height: auto;
  margin: 1em 0em;
  color: #020100;
}

.faq__inputs:checked ~ .faq__label {
  transition: 1s ease-in-out;
  box-shadow: 0px 20px 5px rgba(128, 128, 128, 0.748);
}

.faq__label {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: none -2px 2px 2px;
  color: #020100;
  display: block;
  padding: 0.2em;
  background: rgba(170, 170, 170, 0.672);
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.748);
  border: solid 2px #e4e4e4;
  border-radius: 0.6em;
  text-align: center;
  cursor: pointer;
  transition: 1s ease-in-out;
}

@media (min-width: 768px) {
  .faq__label {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .faq__label {
    font-size: 1.6em;
  }
}
.faq__par {
  height: 0;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  text-shadow: none -2px 2px 2px;
  color: rgba(236, 236, 236, 0);
  font-weight: lighter;
  transition: 1s ease-in-out;
}

@media (min-width: 768px) {
  .faq__par {
    font-size: 1.1em;
  }
}
@media (min-width: 1024px) {
  .faq__par {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=styles.css.map */